{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"href="{% static 'css/connexion.css'%}">

<section class="auth-section">
    <div class="auth-card login-card" id="login-card">
        <div class="auth-header">
            <h2>Connexion</h2>
            <p>Accédez à votre compte Admin.</p>
        </div>
        <form>
            <div class="input-group">
                <label>Email</label>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Entrez votre email">
                </div>
            </div>
            <div class="input-group">
                <label>Mot de passe</label>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Entrez votre mot de passe">
                </div>
            </div>
          
            <button type="button" class="auth-btn">Se connecter</button>
        </form>
        <div class="forgot-password">
        <p> 
            Mot de passe oublié ? Contacter l'entreprise
        </p>
    </div>
    </div> 
    </section>
{% endblock %}